body {
  font-family: Arial, sans-serif;
  background-color: #eaf2f8;
  color: #1f2937;
  margin: 0;
  padding: 30px;
}

.container {
  width: 400px;
  max-width: 90%;
  margin: auto;
}

header {
  text-align: center;
}

h1 {
  color: #2563eb;
}

header p {
  color: #64748b;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

input,
select {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  font-size: 15px;
}

input:focus,
select:focus {
  outline: none;
  border-color: #2563eb;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #1d4ed8;
}

#resultado {
  font-size: 22px;
  text-align: center;
  color: #2563eb;
  font-weight: bold;
}